@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

body{
    background-image:url("plant.jpg");
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Playfair Display', serif !important
    
}

.goldBtn{
    background-color: #d4af37 !important ;
    color:white !important;
    box-shadow:0 8px 16px 0 rgba(237, 194, 113, 0.7), 0 8px 8px 0 rgba(0,0,0,0.19);
    padding:5px 30px
}

#navbar{
    background-color:#d4c7b0 !important;
    font-size:20px
}

#navItemsContainer{
    width:100%
}

#logo{
    height:90px
}

#bag{
    height:50px;
    right:0
}

#accountIcon{
    margin-left:auto;
    font-size: 25px;
    margin-top:5px

}

.checkCursor{
    color:rgb(104, 212, 104);
    background-color: transparent;
    border:none;
    font-size: 20px;
}
.crossCursor{
    color:red;
    background-color: transparent;
    border:none;
    font-size: 20px;
}

.card-div{
    display:flex;
    flex-wrap: wrap;
    padding:20px;
    justify-content:center
}

.card{
    width:18rem;
    margin:20px 20px

}

.item-row{
    border: 1px solid rgb(209, 206, 206);
    border-radius: 15px;
    display:flex;
    align-items: center;
    background-color:rgba(255, 255, 255, 0.9); 
}

.img-thumbnail{
    width:200px;
    height: 200px;
    margin:10px 0
}

.bagItemName{
    padding-left:20px;
    word-wrap: break-word;
    width:60%
}

@keyframes bag{
    0%{transform: rotate(10deg)}
    25%{transform: rotate(-20deg)}
    50%{transform: rotate(10deg)}
    75%{transform: rotate(-20deg)}
    100%{transform: rotate(10deg)}
}

.addedToBag{
    animation-name: bag;
    animation-duration: 3s;
}



@media (min-width:280px){
    .form{
    border-radius: 15px;
    padding:10px;
    background-color:rgba(255, 255, 255, 0.9);
    box-shadow:10px 10px 8px #a09c9c
}




}
